{% extends "base.html" %}

{% block content %}

<h1>Welcome to the Feedback App</h1>
{% if username %}
Logged in as {{ username }} | <a href="{{ url_for('logout') }}">Log Out</a>
{% else %}
<a class="btn btn-primary" href="{{ url_for('register') }}">Register</a> <a class="btn btn-primary"
    href="{{ url_for('login') }}">Log In</a>
{% endif %}
<h1>All Feedback</h1>


{% for feedback in feedbacks %}
<!-- <li>{{ feedback.title }} - {{ feedback.user.username }}</li> -->





<table class="table table-striped">
    <thead>

        <tr>
            <th>Username</th>
            <th>Feedback</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ feedback.user.username }}</td>
            <td>{{ feedback.title }}</td>

        </tr>
    </tbody>
</table>









{% endfor %}









{% endblock %}