{% extends "base.html" %}

{% block content %}
    <section>
        <h2>Available Pets</h2>
        <ul>
            <p><a id="header" href="{{ url_for('add_pet') }}">Add a Pet</a></p>
            <div class="grid-container">
                {% for pet in pets %}
                    <div class="pet-card">
                        <h3><a href="{{ url_for('view_pet', pet_id=pet.id) }}">{{ pet.name }}</a></h3>
                        {% if pet.photo_url %}
                            <img src="{{ pet.photo_url }}" alt="{{ pet.name }}" width="200">
                        {% endif %}
                        {% if pet.available %}
                            <p class="availability">Available</p>
                        {% else %}
                            <p class="availability">Not Available</p>
                        {% endif %}
                        <hr>
                    </div>
                {% endfor %}
            </div>
            <p><a id="header" href="{{ url_for('add_pet') }}">Add a Pet</a></p>
        </ul>
    </section>
    
{% endblock %}
