/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/


body {
	background-color: #d8d8d8;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#jeopardy {
	margin-top: 5rem;
	text-align: center;
	font-size: 9pt;
	color: rgb(255, 255, 255);
	border-collapse: collapse;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#jeopardy th,
#jeopardy td {
	background-color: #115ff4;
	border: solid 4px black;
	width: 16em;
}

th {
	text-transform: uppercase;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	height: 4em;
}

td {
	height: 9em;
	font-family: Copse, serif;
	font-weight: bold;
  color: yellow;
}

td:hover {
	cursor: pointer;
}

div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

button {
	margin-top: 2rem;
	padding: 10px;
	background-color: #115ff4;
	color: white;
	border: solid 1px white;
}

