body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  h1 {
    text-align: center;
    color: #008080;
  }
  
  #giphy-form {
    margin: 20px auto;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  #gif-search {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 70%;
  }
  
  button[type="submit"], button[type="clear"] {
    background-color: #008080;
    color: #fff;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button[type="submit"]:hover, button[type="clear"]:hover {
    background-color: #fff;
    color: #008080;
  }
  
  button[type="clear"] {
    background-color: #ff0000;
    margin-right: auto;
  }
  
  #giphyresults {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .gif {
    margin: 10px;
  }
  
  .img {
    max-width: 200px;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  